@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@100..900&display=swap');

:root{
    --font-color : #ae00ff;
    --sub-color : #d271ff;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

p{
    margin-block-start: 0em;
    margin-block-end: 0em;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body::-webkit-scrollbar{
    width: 6px;  /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb{
    height: auto; /* 스크롤바의 길이 */
    background: var(--sub-color); /* 스크롤바의 색상 */
    border-radius: 10px;
}

body::-webkit-scrollbar-track{
    background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}

#top_button{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    font-weight: 700;
    background-color: white;
    color: var(--font-color);
    border: 2px solid var(--sub-color);
    border-radius: 50%;
    z-index: 999;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}

#top_button p{
    position: relative;
    bottom: 3%;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 130px;
    z-index: 10;
    background-color: white;
    box-shadow: 0px 5px 5px white;
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header div {
    width: calc(100% / 3);
    display: flex;
    justify-content: center;
}

header h1{
    display: flex;
    justify-content: center;
    align-self: center;
}

#app{
    width: 1920px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#app h1{
    text-align: center;
    font-size: 2.6rem;
    margin-block-start: 0px;
    margin-block-end: 0px;
    color: var(--font-color);
    font-family: "Black Han Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lang_change {
    width: 100px;
    height: 34px;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #fff;
    border-radius: 5px;
    /* padding: 10px 25px; */
    font-size: 1.2rem;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
        7px 7px 20px 0px rgba(0,0,0,.1),
        4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}

.lang_change span:nth-child(1){
    color: #cfcfcf;
}

.lang_change span:nth-child(2){
    text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em white;
}

#search_wrapper{
    position: relative;
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search_text{
    position: relative;
    box-sizing: border-box;
    padding-bottom: 0.5rem;
}

#search_box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search_input{
    width: 500px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(246, 234, 250);
}
#search_input::placeholder{
    color: var(--font-color);
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.search_submit {
    width: 100px;
    height: 34px;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    border-radius: 5px;
    /* padding: 10px 25px; */
    font-size: 1.2rem;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
        7px 7px 20px 0px rgba(0,0,0,.1),
        4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}
/* 1 */
.btn-1 {
    background: rgb(196, 64, 223);
    background: linear-gradient(0deg, rgb(196, 64, 223) 0%, rgb(216, 142, 224) 100%);
    border: none;
}
.btn-1:hover {
    background: rgb(226, 129, 255);
    background: linear-gradient(0deg, rgb(226, 129, 255) 0%, rgb(214, 155, 216) 100%);
}

#cards_wrapper{
    position: relative;
    display: grid;
    margin-top: 116px;
    grid-template-columns: repeat(auto-fill, minmax(22.5%, auto));
    gap: 20px;
    box-sizing: border-box;
    padding: 20px;
}

.card{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
    background-color: rgb(255, 236, 255);
    /* width: 100%; */
    height: auto;
    max-height: 55rem;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(167, 110, 167, 0.4);
    transition: all .5s linear;
    cursor: pointer;
}

.movie_poster_box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 32rem;
    margin: 0 auto;
}

.movie_poster_box img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.movie_info{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.movie_info p{
    text-indent: 1rem;
    height: 18rem;
    overflow-y: auto;
}

.movie_info p::-webkit-scrollbar{
    width: 4px;  /* 스크롤바의 너비 */
}

.movie_info p::-webkit-scrollbar-thumb{
    height: auto; /* 스크롤바의 길이 */
    background: var(--sub-color); /* 스크롤바의 색상 */
    border-radius: 10px;
}

.movie_info p::-webkit-scrollbar-track{
    background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}

.searched_modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    /* min-height: 100vh; */
    top: 0;
    z-index: 999;
} 

.searched_inner {
    position: relative;
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22.5%, auto));
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    height: 100%;
    gap: 1rem;
}

.modal-card {
    position: relative;
    width: 21rem;
    height: 95vh;
}

.modal-card .movie_poster_box{
    height: 30rem;
}

.modal-card .movie_poster_box img{
    width: auto;
    height: 100%;
}

@media (max-width: 1400px) {
    #cards_wrapper{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1200px) {
    #cards_wrapper{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 992px) {
    #cards_wrapper{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    #cards_wrapper{
        grid-template-columns: repeat(1, 1fr);
    }
    #search_input {
        width: 400px;
    }
    #app h1{
        font-size: 1.6rem;
    }
    header div:nth-child(1) {
        width: 0%;
    }
    header div:nth-child(2) {
        width: 80%;
    }
    .lang_change{
        width: 65px;
        height: 30px;
        font-size: 0.8rem;
    }
    #search_box{
        height: 26px;
    }
    #search_box input{
        height: 26px;
    }
    .search_submit{
        height: 28px;
        font-size: 1rem;
    }
    .modal-card{
        height: 80vh;
    }
    .modal-card .movie_poster_box {
        height: 15rem;
    }
    .movie_info{
        height: 18rem;
    }
    .movie_info h2{
        margin-block-start: 5px;
        margin-block-end: 5px;
    }
}

@media (max-width: 576px) {
    #search_input {
        width: 260px;
    }
    #app h1{
        font-size: 2rem;
    }
}

@media (max-width: 576px) {
    #search_input {
        width: 220px;
    }
    #app h1{
        font-size: 1.5rem;
    }
}